nav {
    display: flex;
    justify-content: flex-end;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-left: 20px; /* Adjust the spacing between the links */
  }
  
  /* Style the NavLink elements */
  NavLink{
    text-decoration: none;
    color: #333; /* Change the color as needed */
  }
  
  /* Style the active NavLink */
  NavLink.active {
    font-weight: bold; /* Example styling for active link */
  }
  .link{
    text-decoration: none;
    color: #333; 
    margin-right: 30px;
    font-size: 20px;

  }

  link.active{
    font-weight: bold; /* Example styling for active link */
  }